.services-container{
    padding: 10px;
}

.services-container h1{
    text-align: center;
    color: var(--bg-color);
    margin: 70px 0;
    font-size: 40px;
}

/***** SERVICES CONTAINER *****/
.services{
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}

/***** SERVICES TABS *****/
.services-tab{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}


.nail-care, .spa, .add-on{
    width: 500px;
    height: 250px;
    border-radius: 8px;
    background-color: var(--bg-color);
}

.names{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: var(--bg-color);
    font-size: 30px;
}

/***** BUTTONS *****/

.services-tab button{
    border: none;
    padding: 13px 30px;
    border-radius: 5px;
    font-family: inherit;
    font-size: 1.0625rem;
    font-weight: 600;
    color: var(--bg-color);
    background-color: var(--accent-color);
    box-shadow: 1px 1px 5px grey, -1px -1px 5px grey;
    cursor: pointer;
}

/***** DIVIDER *****/
.divider{
    margin: 0 auto;
    margin-top: 250px;
    width: 60%;
    height: 6px;
    border-radius: 3px;
    background-color: var(--bg-color);
}